/* ====================================
// css variables
// ==================================== */

:root {
  --black: #0e0e0e;
  --button: #524128;
  --main-color: #344930;
  --twis-color: #657e65;
  --withe: #ffffff;
  --gray: #aaaaaa;
}

/* ====================================
// starter
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

/* 
.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/

/* ====================================
// main css mobile
// ==================================== */

body {
  color: var(--withe);
}

header {
  background: var(--black);
}

.presentation {
  background: url(../img/tavern.jpg), lightgray 50% / cover no-repeat;
  background-size: cover;
}

.menu {
  background: var(--main-color);
}

.fournisseurs {
  background: var(--twis-color);
}

.inscription {
  background: var(--main-color);
}

footer {
  background: var(--black);
}

.menu img {
  object-fit: cover;
}

@media (max-width: 1200px) {
  .navigation {
    background-color: var(--black);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .logo {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    height: 30px;
  }

  .burger {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
  }

  .burger div {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--withe);
    transition: transform 0.3s, opacity 0.3s;
  }

  .burger div:nth-child(1) {
    top: 0;
  }

  .burger div:nth-child(2) {
    top: 8px;
  }

  .burger div:nth-child(3) {
    top: 16px;
  }

  .burger.is-active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.is-active div:nth-child(2) {
    opacity: 0;
  }

  .burger.is-active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    background: var(--black);
    height: 180px;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 0.2s;
    z-index: 1;
  }

  .nav.is-active {
    pointer-events: auto;
    transform: translateY(0);
    z-index: 1;
  }

  .nav a:hover {
    color: var(--twis-color);
  }

  .presentation {
    margin-top: 60px;
  }

  footer,
  .presentation,
  .menu,
  .fournisseurs,
  .inscription {
    padding: 50px 15px;
  }

  .contact {
    margin: 15px;
  }

  .fournisseur {
    padding: 0;
    background: var(--main-color);
    transform: translateX(0);
    transition: transform 0.2s;
    height: 100%;
  }

  .fournisseurs h2 {
    margin-bottom: 26px;
  }

  .cartes {
    margin: 15px;
  }

  .metier {
    margin-bottom: 10px;
  }

  .description {
    margin-top: 10px;
  }

  .fournisseur img {
    object-fit: cover;
    margin: 0;
  }

  .fournisseur:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateX(-2%);
  }

  .langues a,
  .ancre {
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .fr {
    color: var(--twis-color);
  }

  h1 {
    text-align: center;
    font-family: Yeseva One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
  }

  h2 {
    text-align: center;
    font-family: Yeseva One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
  }

  p {
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h3 {
    color: var(--gray, #aaa);
    font-family: Yeseva One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .nom {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  footer .nom {
    text-align: left;
  }

  .description {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .metier {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .button a {
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .button {
    background: var(--button);
    width: 244px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0px;
  }

  .button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45) inset;
  }

  .menu img {
    margin: 50px 0px;
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .burger {
    display: none;
  }

  .nav {
    text-align: center;
    font-family: Nunito Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: flex-end;
    margin: auto;
  }

  .nav a {
    text-decoration: none;
  }

  .nav a:hover {
    color: var(--twis-color);
  }

  .fr {
    color: var(--twis-color);
  }

  .logo {
    height: 45px;
    margin: 25px 0;
  }

  h1 {
    text-align: center;
    font-family: Yeseva One;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
  }

  h2 {
    font-family: Yeseva One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 50px;
  }

  h3 {
    font-family: Yeseva One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }

  .intro,
  .menu p,
  .metier,
  .button a,
  .inscription p {
    text-align: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .nom {
    font-family: Nunito Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .description {
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .cartes {
    text-align: center;
    margin: 20px;
  }

  .menu img {
    height: 100%;
    width: 100%;
  }

  .button {
    background: var(--button);
    width: 360px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0px;
  }

  .button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45) inset;
  }

  .menu .col-xl-4 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .plats {
    margin: 75px 0;
  }

  .fournisseur {
    padding: 0;
    background: var(--main-color);
    transform: translateX(0);
    transition: transform 0.2s;
    height: 100%;
  }

  .fournisseur:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateX(-2%);
  }

  .fournisseur .nom {
    margin: 7px 0;
  }

  .presentation {
    padding: 150px;
    margin-top: 95px;
  }

  .fournisseurs,
  .inscription,
  footer {
    padding: 75px;
  }
}
